@charset 'UTF-8';

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	color: #4a4453;
	font-family: 'Inter', sans-serif;
}

.header {
	&__container {
		width: 100rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main {
	&__container {
		width: 100rem;
		margin: 0 auto;
	}
}

.calculator {
	&__input {
		display: block;
		width: 100%;
		padding: 1.8rem 0;
		font-size: 2rem;
		text-align: right;
	}

	&__number-keys {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	button {
		width: calc(100% / 4);
		padding: 1.6rem 0;
		font-size: 2rem;
	}
}

.item {
	&__title {
		display: block;
		font-size: 2.4rem;
	}

	&__price {
		display: block;

	}

	&__review {
		display: flex;

		&-list {
			display: flex;
			list-style: none;
		}
	}

	&__quantity {
		&-counter {
			display: flex;
		}

	}
}

.footer {
	padding: 2rem 0;

	&__container {
		width: 100rem;
		margin: 0 auto;
	}

	&__copyright {
		display: block;
		text-align: center;
		font-size: 1.4rem;
	}
}
