@charset 'UTF-8';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--brand-color-light: #D1BFE8;
	--brand-color-primary: #9B83B8;
	--brand-color-dark: #6D5A8C;

	--text-color-lightest: #FFFFFF;
	--text-color-light: #D0CBD7;
	--text-color-primary: #4A4453;
	--text-color-dark: #27232C;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.8rem;
	color: var(--text-color-primary);
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
}

.header {
	&__container {
		width: 100rem;
		margin: 0 auto;
	}
}

.main {
	&__container {
		width: 100rem;
		margin: 0 auto;
	}
}

.counter {
	&__input {
		pointer-events: none;
	}
}

.footer {
	&__container {
		width: 100rem;
		margin: 0 auto;

	}

	&__copyright {
		display: block;
		text-align: center;
	}
}